<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>Homepage</title>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="{{ url_for('about') }}">About</a>
      <a class="navbar-brand" href="{{ url_for('howtouse') }}">How to Use</a>
    </nav>
  </head>
  <body>
    <div class="container-fluid">
    </div>
      <div class="logo">
        <img src="{{ url_for('static', filename='images/globe-icon_16.svg') }}"/>
      </div>
      <form role="form" action="" method='POST'>
        <div class="search-box">
          <input class="search-txt" type="text" name="q" placeholder="Type to search" aria-label="Query" aria-describedby="basic-addon2">
          <div class="search-btn" href="#">
              <i class="fas fa-search"></i>
          </div>
          <div class="button">
            <input class="btn btn-light" type="submit" value="Search">
          </div>
        </div>
      </form>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>