:root {
    --light: rgba(255,255,255,.8);
}
body{
    margin: 0;
    padding: 0;
    background: 
        whitesmoke;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}