:root {
    --dark60: rgba(48,70,89,.4);
}
html, body {
    height: 100%;
    overflow: auto;
}
body{
    margin: 0;
    padding: 0;
    background: 
        linear-gradient(
            var(--dark60),
            var(--dark60)
        ),
        url(./images/background.jpg)/*#D1C3B7*/;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.logo{
    color: black;
    width: 140px;
    height: 140px;
    top: 45%;
    left: 50.5%;
    position: absolute;
    transform: translate(-50%, -50%);
    align-items: center;
    border-radius: 40px;
}
.search-box{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #FFFFFF;
    height: 40px;
    border-radius: 40px;
    padding: 30px;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn{
    background: white;
}
.search-btn{
    float: right;
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 0px;
}
.button{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40px;
    border-radius: 40px;
    padding: 40px;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}